{% extends "admin/base_site.html" %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.min.css">

    <form id="form_id_action" method="post">
        {% csrf_token %}

        <div class="panel-group" style="width: 800px; margin: auto;">
            <div class="panel panel-primary form-shadow">
                <header class="panel-heading" style="background-color:#DDDDDD;">
                    <h3 class="panel-title" style="margin: 0px;">
                        <div style="font-weight: bold; font-style: italic; font-size: 130%; padding: 20px 0px 0px 10px;">Extend Study Case ID: {{ case_id }}</div>
                    </h3>
                    <br>
                </header>
                <div class="panel-body">
                    <table style="margin: 0px 10px; width: 97%">
                        {% for item in data %}
                            <tr>
                                {% if item.key == "Payment Type" or item.key == "Transaction ID" or item.key == "Payment Time" or item.key == "CIC Submit Date" or item.key == "Case Close Date" or item.key == "Case Status" or item.key == "Case Memo" %}
                                    {% if item.key == "Payment Type" and item.value == "" %}
                                        <td style="padding: 5px; margin: 0px; font-weight: bold; font-size: 1em; white-space:nowrap;">Payment Type: </td>
                                        <td style="font-size: 1em; width: 100%;">
                                            <div id="id_payment_type">
                                                <label style="margin-right: 20px;"><input type="radio" name="payment_type" value="Cash" style="margin: -3px 5px 0px 0px;">Cash</label>
                                                <label style="margin-right: 20px;"><input type="radio" name="payment_type" value="Cheque" style="margin: -3px 5px 0px 0px;">Cheque</label>
                                            </div>
                                        </td>
                                    {% elif item.key == "Payment Type" and item.value is not None %}
                                        <input type="hidden" name="payment_type" value="{{ item.value }}">
                                        <td style="padding: 5px; margin: 0px; font-weight: bold; font-size: 1em; white-space:nowrap;">{{ item.key }}: </td>
                                        <td style="font-size: 1em; width: 100%;">{{ item.value }}</td>
                                    {% endif %}

                                    {% if item.key == "Transaction ID" and item.value == "" %}
                                        <td style="padding: 5px; margin: 0px; font-weight: bold; font-size: 1em; white-space:nowrap;">Transaction ID: </td>
                                        <td style="font-size: 1em; width: 100%;">
                                            <input type="text" name="payment_transaction_id" style="text-align: center; width: 200px;" placeholder="Cheque ID or Other Payment ID">
                                        </td>
                                    {% elif item.key == "Transaction ID" and item.value is not None %}
                                        <input type="hidden" name="payment_transaction_id" value="">
                                        <td style="padding: 5px; margin: 0px; font-weight: bold; font-size: 1em; white-space:nowrap;">{{ item.key }}: </td>
                                        <td style="font-size: 1em; width: 100%;">{{ item.value }}</td>
                                    {% endif %}

                                    {% if item.key == "Payment Time" and item.value == "" %}
                                        <td style="padding: 5px; margin: 0px; font-weight: bold; font-size: 1em; white-space:nowrap;">Payment Time: </td>
                                        <td style="font-size: 1em; width: 100%;">
                                            <input type="text" name="payment_datetime" style="text-align: center;" placeholder="YYYY-MM-DD" data-provide="datepicker">
                                        </td>
                                    {% elif item.key == "Payment Time" and item.value is not None %}
                                        <input type="hidden" name="payment_datetime" value="1000-01-01">
                                        <td style="padding: 5px; margin: 0px; font-weight: bold; font-size: 1em; white-space:nowrap;">Payment Time: </td>
                                        <td style="font-size: 1em; width: 100%;">{{ item.value }}</td>
                                    {% endif %}

                                    {% if item.key == "CIC Submit Date" and item.value == "" %}
                                        <td style="padding: 5px; margin: 0px; font-weight: bold; font-size: 1em; white-space:nowrap;">CIC Submit Date: </td>
                                        <td style="font-size: 1em; width: 100%;">
                                            <input type="text" name="cic_submit_datetime" style="text-align: center;" placeholder="YYYY-MM-DD" data-provide="datepicker">
                                        </td>
                                    {% elif item.key == "CIC Submit Date" and item.value is not None %}
                                        <input type="hidden" name="cic_submit_datetime" value="{{ item.value }}">
                                        <td style="padding: 5px; margin: 0px; font-weight: bold; font-size: 1em; white-space:nowrap;">CIC Submit Date: </td>
                                        <td style="font-size: 1em; width: 100%;">{{ item.value }}</td>
                                    {% endif %}

                                    {% if item.key == "Case Close Date" and item.value == "" %}
                                        <td style="padding: 5px; margin: 0px; font-weight: bold; font-size: 1em; white-space:nowrap;">Case Close Date: </td>
                                        <td style="font-size: 1em; width: 100%;">
                                            <input type="text" name="case_close_datetime" style="text-align: center;" placeholder="YYYY-MM-DD" data-provide="datepicker">
                                        </td>
                                    {% elif item.key == "Case Close Date" and item.value is not None %}
                                        <input type="hidden" name="case_close_datetime" value="{{ item.value }}">
                                        <td style="padding: 5px; margin: 0px; font-weight: bold; font-size: 1em; white-space:nowrap;">Case Close Date: </td>
                                        <td style="font-size: 1em; width: 100%;">{{ item.value }}</td>
                                    {% endif %}

                                    {% if item.key == "Case Status" and item.value == "" %}
                                        <td style="padding: 5px; margin: 0px; font-weight: bold; font-size: 1em; white-space:nowrap;">Case Status: </td>
                                        <td style="font-size: 1em; width: 100%;">
                                            <div id="id_case_status">
                                                <label style="margin-right: 20px;"><input type="radio" name="case_status" value="Approved" style="margin: -3px 5px 0px 0px;">Approved</label>
                                                <label style="margin-right: 20px;"><input type="radio" name="case_status" value="Rejected" style="margin: -3px 5px 0px 0px;">Rejected</label>
                                            </div>
                                        </td>
                                    {% elif item.key == "Case Status" and item.value is not None %}
                                        <input type="hidden" name="case_status" value="{{ item.value }}">
                                        <td style="padding: 5px; margin: 0px; font-weight: bold; font-size: 1em; white-space:nowrap;">Case Status: </td>
                                        <td style="font-size: 1em; width: 100%;">{{ item.value }}</td>
                                    {% endif %}

                                    {% if item.key == "Case Memo" %}
                                        <td style="padding: 5px; margin: 0px; font-weight: bold; font-size: 1em; white-space:nowrap;">Case Memo: </td>
                                        <td style="font-size: 1em; width: 100%;">
                                            <textarea name="case_memo" style="width: 100%; height: 400px; font-size: 1em;">{{ item.value }}</textarea>
                                        </td>
                                    {% endif %}

                                {% else %}
                                    <td style="padding: 5px; margin: 0px; font-weight: bold; font-size: 1em; white-space:nowrap;">{{ item.key }}: </td>
                                    <td style="font-size: 1em; width: 100%;">{{ item.value }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <br>
        <br>
        <table style="width: 800px; margin: auto;">
            <tr>
                <td style="border: 0px !important;">
                    <input type="button" id="previous" value="Previous" style="float: left; background-color: #337AB7;">
                </td>
                <td style="border: 0px !important;">
                    <input type="button" id="action_resend" value="Resend Documents" style="margin-left: 180px; background-color: #337AB7;">
                </td>
                <td style="border: 0px !important;">
                    <input type="button" id="action_submit" value="Submit" style="float: right; background-color: #337AB7;">
                </td>
            </tr>
        </table>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $.fn.datepicker.defaults.format = "yyyy-mm-dd";

            $("#previous").click(function () {
                window.location.href = "{{ back_path }}";
                return false;
            });

            $("#action_resend").click(function () {
                $("#form_id_action").append($("<input>").attr("type", "hidden").attr("name", "resend").val("resend"));
                $("#form_id_action").submit();
            });

            $("#action_submit").click(function () {
                if ($("input[name=payment_datetime]").val() == "") {
                    $("input[name=payment_datetime]").focus();
                    alert("Please chose Payment Time.");
                    return false;
                    event.preventDefault();
                } else {
                    $("#form_id_action").submit();
                }
            });
        });
    </script>
{% endblock %}