{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{{ block.super }} - {% trans "Profile" %}{% endblock head_title %}

{% block navbar_left %}
    {% include "_navbar.html" %}
{% endblock %}

{% block extra_head_script %}
{% endblock extra_head_script %}

{% block container %}
    <div class="container profile-head">
        <div class="row">
            <div class="col-sm-8">
                <div class="row ml-1">
                    {% if show_user.profile.picture %}
                        <img title="profile picture" src="{{ MEDIA_URL}}{{ show_user.profile.picture }}" alt="avatar" height="80" width="80" style="margin-right: 15px;">
                    {% else %}
                        <img title="profile picture" src="{% static '/site/img/profile_default.png' %}" alt="avatar" height="80" width="80" style="margin-right: 15px;">
                    {% endif%}
                    {% comment %} <h5 class="mt-4">{{ show_user.get_full_name }}</h5> {% endcomment %}
                    <h5 class="mt-4">{{ show_user.get_username }}</h5>
                </div>
            </div>
            <div class="col-sm-4">
                {% if editable %}
                    <a href="{% url 'profiles:edit_self' %}" class="btn btn-primary float-right mr-3 mt-3">{% trans "Edit Profile" %}</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4">
                <ul class="list-group">
                    <li class="list-group-item bg-secondary" style="color: white; font-weight: bold;">{% trans "Profile" %}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>{% trans "Email" %}: </strong></span> {{ show_user.email|default:"missing" }}
                {% if show_user.profile.email_verified %}
                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" title="This email address has been verified"></span>
                    <span class="sr-only">{% trans "Email verified" %}</span>
                {% else %}
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" title="This email address is not verified"></span>
                    <span class="sr-only">{% trans "Email not verified" %}</span>
                {% endif %}
                </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>{% trans "Joined" %}: </strong></span> {{ show_user.date_joined }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>{% trans "Last seen" %}: </strong></span> {{ show_user.last_login }}</li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="card">
                    {% comment %} <div class="card-header">{{ show_user.get_full_name }}'s {% trans "Profile" %} {% endcomment %}
                    <div class="card-header">{{ show_user.get_username }}'s {% trans "Profile" %}
                        {% if show_user.profile.slug %}
                            <a href="{% url 'profiles:show' show_user.profile.slug %}">
                            <span class="glyphicon glyphicon-link" aria-hidden="true" title="Profile permalink"></span>
                            <span class="sr-only">{% trans "Permalink" %}</span></a>{{ show_user.profile.get_absolute_url }}
                        {% endif %}
                    </div>
                    <div class="card-body" style="height: 145px;">
                        <strong>{% trans "Bio" %}: </strong>{{ show_user.profile.bio }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}

{% block scripts %}
{% endblock scripts %}

