<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>chat</h1>
    <script>
        // new WebSocket('ws://localhost:8000/ws/');
        let socket = new WebSocket('ws://localhost:8000/ws/');
        let timer = null;
        socket.onopen = () => {
            timer = setInterval(() => {
                socket.send('Hello send from web browser.');
            }, 1000);
        };
        socket.onclose = socket.onerror = () => {
            clearInterval(timer);
        };
    
        // socket.onmessage = function(event) {
        //     let pMsg = document.createElement("p")
        //     pMsg.innerHTML = event.data
        //     document.body.appendChild(pMsg)
        // }
    </script>
</body>
</html>


