{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block head_title %}{% include "_brandname.html" %}{% endblock head_title %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="language" content="English">
        <meta name="og:url" content="{% block meta_url %}{{ SITE_URL }}{% endblock meta_url %}"> 
        <meta name="og:site_name" content="{{ SITE_NAME }}"> 
        <meta name="og:type" content="{% block meta_type %}article{% endblock meta_type %}">
        <meta name="og:title" content="{% block meta_title %}{% include "_brandname.html" %}{% endblock meta_title %}"> 
        <meta name="og:description" content="{% block meta_description %}django_skeleton description{% endblock meta_description %}">
        <meta name="og:image" content="{% block meta_image %}{{ SITE_URL }}static/site/img/logo.png{% endblock meta_image %}">
        <meta name="twitter:site" content="@django_skeleton">
        <meta name="twitter:title" content="{% block twitter_meta_title %}{% include "_brandname.html" %}{% endblock twitter_meta_title %}">
        <meta name="twitter:description" content="{% block twitter_meta_description %}django_skeleton description{% endblock twitter_meta_description %}">
        <meta name="twitter:image" content="{% block twitter_meta_image %}{{ SITE_URL }}static/site/img/logo.png{% endblock twitter_meta_image %}">
        <link rel="shortcut icon" href="{% static 'site/ico/favicon.ico' %}">

        {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap.min.css"> {% endcomment %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">

        {% comment %} Custom styles for this site {% endcomment %}
        {% block head_style %}
            <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
        {% endblock head_style %}

        <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_TRACKING_ID }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', '{{ GOOGLE_ANALYTICS_TRACKING_ID }}');
        </script>

        {% comment %} Custom tags for the head tag {% endcomment %}
        {% block extra_head_script %}
        {% endblock extra_head_script %}
    </head>

    <body>
        <div id="div_id_language" style="display: none;">{{ LANGUAGE_CODE }}</div>
        {% block navbar %}
            <nav id="main_menu" class="navbar navbar-expand-md navbar-light fixed-top bg-light" style="font-weight: bold; padding: 4px 0px;">
                <div class="container-fluid">
                    <a href="/">
                        <img src="{% static 'site/img/logo.png' %}" alt="logo" width="30" height="30" loading="lazy">
                        <span style="margin-left: 5px; color: rgb(0, 0, 0, 0.7);">{{ SITE_NAME }}</span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {% comment %} Main menu {% endcomment %}
                        <ul class="navbar-nav">
                            {% block navbar_left %}{% endblock %}
                        </ul>

                        {% comment %} Language and User profile {% endcomment %}
                        <ul class="navbar-nav ml-auto">
                            {% comment %} User profile {% endcomment %}
                            {% if user.is_authenticated %}
                                {% if user.is_staff %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
                                {% endif %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                                        {% if user.profile.picture %}
                                            <img src="{{ MEDIA_URL }}{{ user.profile.picture }}" alt="avatar" width="30" height="30" style="border-radius: 50%; margin-top:-3px;"> {{ user.get_username|truncatechars:20 }}
                                        {% else %}
                                            <img src="{% static 'site/img/profile_default.png' %}" alt="avatar" width="30" height="30" style="border-radius: 50%; margin-top:-3px;"> {{ user.get_username|truncatechars:20 }}
                                        {% endif%}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="{% url 'profiles:show_self' %}">My Profile</a></li>
                                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <a class="btn btn-primary" href="{% url 'account_login' %}">{% trans "Sign in" %}</a>
                                {% comment %} <a class="btn btn-primary btn-sm" href="{% url 'account_signup' %}">{% trans "Sign up" %}</a> {% endcomment %}
                            {% endif %}

                            {% comment %} Language {% endcomment %}
                            <button type="button" class="btn btn-outline-primary btn-sm disabled" style="border: none;"></button>
                            <form action="{% url 'set_language' %}" method="POST">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                <select name="language" class="selectpicker dropdown-menu-right border border-secondary rounded" data-width="fit" onchange="this.form.submit();">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}" 
                                            {% if language.code == LANGUAGE_CODE %} selected {% endif %} 
                                            {% with 'site/img/flags/'|add:language.code|add:'.png' as image_lang %}
                                                data-content="<span><img src=' {% static image_lang %}'> {{ language.name_local|capfirst }}</span>">
                                            {% endwith %}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock navbar %}
        
        {% block messages %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {% comment %} singular {% endcomment %}
                        <a class="close" data-dismiss="alert">×</a>
                        {{ message|safe }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endblock messages %}
        
        {% block splash %}
        {% endblock splash %}
        
        {% block container %}
            <div class="container">
                <div class="starter-template">
                    <h1>New Project</h1>
                    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
                </div>
            </div>
        {% endblock container %}

        {% comment %} Site footer {% endcomment %}
        {% block footer %}
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <p style="margin-bottom: 0px; font-size: 0.8em;"><img src="{% static 'site/img/logo.png' %}" alt="logo" width="30" height="30" style="margin-top: -10px"> &copy; {% now 'Y' %} django_skeleton.com All Rights Reserved.</p>
                        </div>
                        <div class="col-4 text-right">
                            <ul class="social">
                                <li><a href="https://www.youtube.com/channel/UCLz5ZgXBX4g9fEwnS7jmIvQ/" target="_blank" class="social-youtube"></a></li>
                                <li><a href="https://twitter.com/OttawaStem/" target="_blank" class="social-twitter"></a></li>
                                <li><a href="https://www.facebook.com/ottawastem/" target="_blank" class="social-facebook"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock footer%}

        {% comment %} <script src="https://unpkg.com/@popperjs/core@2"></script> {% endcomment %}
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script> {% endcomment %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>

        {% block scripts %} 
        {% endblock scripts %}
    </body>
</html>