{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Custom title for the head title -->
{% block title %}{{ block.super }}Feedback{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
{% endblock extrahead %}

{% block navbar_left %}
    {% include "_navbar.html" with active_link="extendstudy" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}
    <br>
    <br>
    <br>
    <br>
    <form id="form_id_feedback" method="post">
        {% csrf_token %}
        {% crispy form %}
    </form>
{% endblock container %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $(function () {
                $("#rateYo").rateYo({
                    starWidth: "25px",
                    spacing: "5px",
                    rateFill: "#f1c40f",
                    fullStar: true
                });
                $("#rateYo").rateYo().on("rateyo.change", function (e, data) {
                    var rating = data.rating;
                    $("input[name=rating]").val(rating);
                });
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
{% endblock scripts %}
