{% extends "accounts/auth_base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - {{ block.super }}Log In{% endblock head_title %}

{% block head_script %}
    <!-- Google recaptcha -->
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock head_script %}

{% block form_heading %}
    {% trans "Please Log In" %}
{% endblock %}

{% block form %}
    {% csrf_token %}
    {{ form | crispy }}
    <div class="form-message">
        <p>{% trans "Don't have an account?" %} <a href="{% url 'accounts:signup' %}">{% trans "Sign up" %}</a></p>
    </div>
{% endblock form %}
