{% load i18n %}
{% autoescape off %}
    {% blocktrans %}Hi,
        You're receiving this email because you (or someone pretending to be you) 
        requested a password reset for your user account at our site.
        If you do not wish to reset your password, please ignore this message.

        To reset your password, please click the following link, 
        or copy and paste it into your web browser:
    {% endblocktrans %}
    {% block reset_link %}
        https://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}
    {% endblock %}

    {% blocktrans %}Your username, in case you've forgotten, it is same as this email address:{% endblocktrans %} {{ user.get_username }}

    {% blocktrans %}Best regards,{% endblocktrans %}

    {{ site_name }}
{% endautoescape %}
