{% extends "account/auth_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}{{ block.super }} - {% trans "Sign in" %}{% endblock %}

{% block head_script %}
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock head_script %}

{% block content %}
    <h1 class="text-center">{% trans "Sign in" %}</h1>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <div class="list-group">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}
    {% else %}
        <p>
            {% trans "Don't have an account?" %}<a href="{{ signup_url }}">{% trans "Sign up" %}</a>
        </p>
    {% endif %}
    <hr>
    {% include "socialaccount/snippets/login_extra.html" %}
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form | crispy }}

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% comment %} <input  type="hidden" name="next" value="{% url 'profiles:show_self' %}" /> {% endcomment %}
        {% endif %}
        <button class="btn btn-primary mb-3" type="submit">{% trans "Sign in" %}</button>
    </form>
    <br>
    <div>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <br>
        <span class="mr-1">Don't have an account?</span><a href="{{ signup_url }}">{% trans "Sign up" %}</a>
    </div>
{% endblock content%}