{% extends "account/auth_base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{{ block.super }} - {% trans "Sign In" %}{% endblock %}

{% block head_script %}
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock head_script %}

{% block content %}
    <script type="text/javascript">
        (function () {
            window.onload = function(){
                document.getElementById("id_login").className = "form-control";
                document.getElementById("id_password").className = "form-control";
                document.getElementById("id_remember").className = ("form-check-input");
            };
        })();
    </script>

    <h1 class="text-center">{% trans "Sign In" %}</h1>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <div class="list-group">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </div>
        {% comment %} {% include "socialaccount/snippets/login_extra.html" %} {% endcomment %}
    {% else %}
        <p>
            {% trans "Don't have an account?" %}<a href="{{ signup_url }}">{% trans "Sign Up" %}</a>
        </p>
    {% endif %}
    <hr>

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="input-group mb-3 {% if form.login.errors %}has-error{% endif %}">
            <span class="input-group-text">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg>
            </span>
            {{ form.login }}
        </div>

        <div class="input-group mb-3 {% if form.login.errors %}has-error{% endif %}">
            <span class="input-group-text">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                    <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                </svg>            
            </span>
            {{ form.password }}
        </div>

        <div class="form-group mb-3">
            <div class="form-check">
                {{ form.remember }}
                <label class="form-check-label">Remember me</label>
            </div>
        </div>

        <div class="form-group"><div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_SITE_KEY }}"></div></div>
        <br>
        
        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        {% comment %} <input  type="hidden" name="next" value="{% url 'profiles:show_self' %}" /> {% endcomment %}

    </form>
    <br>
    <div>
        <a class="text-muted font-weight-bold" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <br>
        <a class="text-muted font-weight-bold" href="{{ signup_url }}">{% trans "Sign Up" %}</a>
    </div>

    
{% endblock content%}