####################################################################################################
# Django project configuration, if environ vars are missing
#
#   This is a sample file. Rename to local.env for a quick development
#   settings. Git will not track local.env as it contains confidential
#   information. So store a backup of this file outside this repo.
#
# Note: No spaces around '=' sign and no quotes for righthand values.
####################################################################################################

# For development DEBUG=True, for production DEBUG=False
DEBUG=True

# ALLOWED_HOSTS for Development
ALLOWED_HOSTS=['*']

# ALLOWED_HOSTS for Production
# ALLOWED_HOSTS=['localhost', '127.0.0.1', 'django_skeleton.com']

####################################################################################################
# Engine       Django Backend                           URL
# PostgreSQL   django.db.backends.postgresql_psycopg2   postgres://USER:PASSWORD@HOST:PORT/NAME
# PostGIS      django.contrib.gis.db.backends.postgis   postgis://USER:PASSWORD@HOST:PORT/NAME
# MySQL        django.db.backends.mysql                 mysql://USER:PASSWORD@HOST:PORT/NAME
# MySQL (GIS)  django.contrib.gis.db.backends.mysql     mysqlgis://USER:PASSWORD@HOST:PORT/NAME
# SQLite       django.db.backends.sqlite3               sqlite:///PATH
####################################################################################################

# Syntax: DATABASE_URL=postgres://username:password@127.0.0.1:5432/database_name
# DATABASE_URL=mysql://username:password@localhost:3306/database_name
# DATABASE_URL=postgis://username:password@127.0.0.1:5432/database_name
DATABASE_URL=sqlite:///database/django_skeleton.db

# Command to create a new secret key:
# Linux or Mac OS
# $ python -c 'import random; import string; print("".join([random.SystemRandom().choice(string.digits + string.ascii_letters + string.punctuation) for i in range(100)]))'
# Windows
# C:\>python -c "import random; import string; print(''.join([random.SystemRandom().choice(string.digits + string.ascii_letters + string.punctuation) for i in range(100)]))"
SECRET_KEY={{ secret_key }}

###################################################################################################
# EMAIL Server, Console Email for development, SMTP Email for production
# Default EMAIL Server is django.core.mail.backends.console.EmailBackend for development
####################################################################################################
# EMAIL_URL='smtp+ssl://username@django_skeleton.com:password@smtp.example.com:465'
# FROM_EMAIL='username@django_skeleton.com'
# WEBMASTER_1='username@django_skeleton.com'
# WEBMASTER_2='username@django_skeleton.com'
# EMAIL_WEBMASTER='username@django_skeleton.com'

# Gmail
EMAIL_URL='smtp+ssl://django_skeleton@gmail.com:password@smtp.gmail.com:465'
FROM_EMAIL='django_skeleton@gmail.com'
WEBMASTER_1='django_skeleton@gmail.com'
WEBMASTER_2='django_skeleton@gmail.com'

####################################################################################################
# Google reCAPTCHA (Invisible reCAPTCHA)
####################################################################################################
RECAPTCHA_SITE_KEY=''
RECAPTCHA_SECRET_KEY=''
GOOGLE_ANALYTICS_TRACKING_ID=''