{% extends "accounts/auth_base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Sign Up{% endblock %}

{% block extrahead %}
    <!-- Google recaptcha -->
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
{% endblock extrahead %}

{% block form_heading %}
    {% trans "Signing Up is Free" %}
{% endblock %}

{% block form %}
    {% csrf_token %}
    {% crispy form %}
    <div class="form-message">
        <p>{% trans "Already signed up?" %} <a href="{% url 'accounts:login' %}">{% trans "Log in" %}</a>.</p>
    </div>
{% endblock form %}
