@import url(//fonts.googleapis.com/earlyaccess/notosansscsliced.css);

html, body {
    height: 100%;
    font-family: Arial, Tahoma, Helvetica, 'Noto Sans SC Sliced', sans-serif;
}

.btn-primary {
    border: none;
    background-color: #26b3fb !important;
}

.btn-primary:hover, .btn-primary:active {
    border: none;
    background-color: #008ffc !important;
}

.alert {
    margin-top: 51px;
    margin-bottom: -55px;
    position: relative;
    z-index: 1000;
    text-align: center;
}

/* Menu styling */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .7);
}

.navbar-light .navbar-nav .nav-link.active {
    color: white !important;
    background-color: #26b3fb;
}

a.nav-link:hover {
    color: white !important;
    background-color: #26b3fb;
}

a.dropdown-item:hover {
    color: white !important;
    background-color: #26b3fb;
}

.nav-pills .nav-link {
    margin: 5px 0px;
}

.nav-pills .nav-link.active {
    color: white;
    border-radius: 0;
    background-color: #26b3fb;
}

.nav-pills a.nav-link:hover {
    color: white;
    border-radius: 0;
    background-color: #26b3fb;
}
/* End of menu styling */


/* Home page styling */
.corporate-jumbo {
    /* background-image: url("/static/site/img/banner-2.jpg"); */
    background-image: 
        linear-gradient(
            rgba(255, 255, 255, 00), 
            rgba(255, 255, 255, 0)
            50px
        ), 
        url("/static/site/img/banner-2.jpg"
        );

    /* background-image: 
        linear-gradient(
            rgba(255, 255, 255, 0), 
            rgba(255, 255, 255, 0)
            80px
        ), 
        url("/static/site/img/sea.jpg"
    ); */
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    -webkit-background-size: cover !important;
    background-size: cover;
    color: #f5f5f5;
    padding: 10em 0;
    margin-bottom: 0;
    height: 100%;
}

.water {
    position: absolute;
    background-image: url("/static/site/img/banner-2-map.png");
    background-size: cover;
    background-position: center;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    filter: url("#turbulence");
}
/*  End of Home page styling */


/* Crispy Custom Form */
.asteriskField {
    color: red;
}
/* End of Crispy Custom Form */


/* Profile page styling */
.profile-head {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQIW2NkAIILFy78NzAwYATRjCABZEGwAEwFiA1WBlIOUwkA72gTdDIYVO4AAAAASUVORK5CYII=) repeat;
    padding: 60px 0px 10px 20px;
}
/* Profile page styling */


/* Style the Courses Cards */
.card-course {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    /* this adds the "card" effect */
    padding: 16px;
    text-align: left;
    line-height: 150%;
    background-color: #ffffff;
    border-radius: 6px;
    height: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 30px;
}

.card-course:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 15px 30px;
    transform: translate3d(0px, -1px, 0px);
    height: auto;
}

.card-course .card-course-image {
    width: 80px;
    float: left;
    margin-right: 15px;
}

.card-course .card-course-title {
    margin-bottom: 10px;
    font-weight: bold; 
    font-size: 1.6em;
    line-height: 100%;
}
/* End of Courses Card */


/* End of Resources Card */
.card-resource-header {
    font-weight: bold;
    font-size: 1.5em;
}

.resource-list-item {
    font-size: 1.4em;
    margin: 15px 0px;
}
/* End of Resources Card */


/* Footer Social Media */
.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

.social li {
    width: auto;
    float: right;
    margin: 0;
    list-style-type: none;
}

.social li a {
    width: 25px;
    height: 25px;
    background: url("/static/site/img/social_media.svg");
    background: rgba(0,0,0,0) url("/static/site/img/social_media.svg");
    background-repeat: no-repeat;
    background-size: 140px 280px;
    margin: 0 0 0 3px;
    display: block;
}

.social li a:hover, a:focus {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    background-position-x: -90px;
}

.social .social-facebook {
    background-position: -60px 0;
}
.social .social-twitter {
    background-position: -60px -28px;
}
.social .social-instagram {
    background-position: -60px -56px;
}
.social .social-linkedin {
    background-position: -60px -84px;
}
.social .social-more {
    background-position: -60px -112px;
}
.social .social-pinterest {
    background-position: -60px -140px;
}
.social .social-rss {
    background-position: -60px -168px;
}
.social .social-tumblr {
    background-position: -60px -196px;
}
.social .social-youtube {
    background-position: -60px -224px;
}
.social .social-flickr {
    background-position: -60px -252px;
}
/* End of Footer Social Media */


