.alert {
    margin-top: 50px;
    margin-bottom: -50px;
    position: relative;
    z-index: 1000;
    text-align: center;
}

.alert .alert-block {
    margin-top: 0px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1000;
    text-align: center;
}
